# Build files
build/
attendance_system/build/
attendance_system/.vscode
# ESP-IDF
sdkconfig.old
*.bin
*.elf
*.map

# Logs
*.log

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# History 
History/

# demo
demo.mp4

# Altium generated folders
**/Project Logs for */
**/Project Outputs for */
**/__Previews/

# VS Code settings
.vscode/
**/.vscode/s